<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
    <body>
        {{ if .UserName }}
            USER NAME: {{ .UserName }}<br>
            FIRST NAME: {{ .FirstName }}<br>
            LAST NAME: {{ .LastName }}<br>
            <h1><a href="/logout">Log Out Here</a></h1>
        {{ else }}
            <h1><a href="/signup">Sign Up Here</a></h1>
            <h1><a href="/login">Login Here</a></h1>
        {{ end }}

        <br>
    </body>
</html>
